:root {
    --primary-color: #006064;
    --secondary-color: #80cbc4;
    --tertiary-color: #c5339ee7;
    --quaternary-color: #860c66;
    --quinary-color: #0d47a1;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: var(--primary-color);
    height: 80px;
    padding-top: 10px;
}

#coronaimage {
    max-height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, .5);
    padding-top: 0px;
    padding-right: 15px;

}

/* Aside Styling */
aside {
    padding: 20px;
}

.city-list {
    height: 320px;
    overflow: hidden; 
    overflow-y: scroll;
}

.search-btn {
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
}

.search-btn,
.clear-btn,
.list-group {
    width: 100%;
}

.collection-item:hover {
    z-index: 1;
    color:#495057 ;
    text-decoration: none;
    background-color:var(--secondary-color);
    transition: 0.5s;
}

.clear-btn {
    background-color: var(--quaternary-color);
}

.clear-btn:hover {
    background-color: var(--tertiary-color) ;
}

.clear-btn:focus {
    background-color: var(--quaternary-color);
}

/* Aside Styling Ends */

/* Searched City Styling */

.city-stats {
    padding-left: 50px;
}

.city-header {
    font-weight: bold;
    font-size: 50px;
}

.city-header,
.city-cases {
    color: var(--quinary-color);
}

.city-cases,
.city-deaths {
    padding-top: 10px;
    font-size: 25px;
}

.city-deaths {
    color: var(--quaternary-color);
}

.stats-chart {
    height: 100%;
    width: 100%;
    position: relative;
    height: 450px;
    width: 80vw;
}

/* Facilities Container */
.facilities-header,
.covid-information-header {
    margin-top: 60px;
    margin-left: 22px;
    color: var(--quinary-color);
}

.card-container {
    display: flex;
    padding-right: 40px;
    margin: auto;
    padding-top: 40px;
}

.card {
    float: right;
    background-color: var(--primary-color);
}

#facility-address {
    color: var(--secondary-color);
}

.covid-information-header {
    color: var(--quaternary-color);
    display: inline-block;
}

.covid-information {
    display: flex;
    margin-right: 100px;
    padding-top: 50px;
}

.covid-description,
.covid-symptoms,
.covid-emergency {
    background-color: var(--quaternary-color);
    color: white;
    border-radius: 10%;
}

.covid-description {
    font-size: 25px;
}

.covid-symptoms,
.covid-emergency {
    font-size: 20px;
}

.symptoms-list {
    font-size: 16px;
    list-style-type: disc;
}



.modal,
.modal-footer {
    background-color: var(--primary-color);
}

.modal-content,
input {
    color: white;
}

.modal-btn {
    background-color: var(--secondary-color);
}

.modal-btn:focus {
    display: none;
}


@media only screen and (max-width: 995px) {
    aside {
        text-align: center;
        margin-left: 150px;
    }

    .city-list {
        height: 100px;
    }

    .current-city {
        display: inline-block;
    }

    .city-stats {
        text-align: center;
    }

    .stats-chart {
        margin-top: 50px;
    }

    .facilities-header {
        display: inline-block;
        margin-left: 180px;
    }

    .card-container {
        display: inline-block;
        margin: 0 150px 0 150px;
    }

    .card {
        margin: 20px;
        height: 475px;
    }

    .stats-chart {
        height: 60vh;
        width: 80vw;
    }

    .covid-description,
    .covid-symptoms,
    .covid-emergency {
        margin-top: 20px;
        width: 100%;
    }

    .covid-information,
    .covid-information-header {
        display: inline-block;
        margin-left: 125px;
        width: 80%;
    }

    #modal2 {
        width: 80%;
        margin-left: 100px;
    }

    iframe {
        width: 75vw;
    }
}

@media only screen and (max-width: 775px) {
    .card-container {
        display: inline-block;
        margin: 40px 40px 40px 40px;
        width: 100%;
    }

    .stats-chart {
        height: 40vh;
        width: 80vw;
        margin-left: 200px;
    }

    .card {
        height: 450px;
    }

    #modal2 {
        width: 80%;
        margin-left: 100px;
    }

    iframe {
        height: 40vh;
        width: 82vw;
    }
}

@media only screen and (max-width: 600px) {
    .city-list {
        text-align: center;
    }
    .stats-chart {
        height: 40vh;
        width: 8
        0vw;
    }
    .facilities-header {
        margin: 0px;
        margin-top: 30px;
    }

    .card-container{
        margin: 0px;
        padding: 0px;
    }

    .card {
        height: 275px;
    }

    .covid-description,
    .covid-symptoms,
    .covid-emergency {
        width: 100%;
    }

    .covid-information,
    .covid-information-header {
        margin-top: 15px;
        margin-right: 0px;
        margin-left: 20px;
        padding-top: 0px;
        display: inline-block;
        width: 90%;
    }

    #modal2 {
        width: 80%;
        margin-left: 40px;
    }

    iframe {
        height: 30vh;
        width: 68vw;
    }
}